---
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
const pageTitle = 'Jose';
---

<html lang="en">
    <Layout title="mi first page">
        <h1 style="color: azure;">hello webkit-background</h1>
    </Layout>
</html>