---
import Layout from "../layouts/Layout.astro";
import RenderBuyList from "../components/RenderBuyList.astro";
const buyList = [
	'Controller',
	'Bread',
	'Water',
	'Notebook',
	'Math Book',
	'Choco Bar',
	'Milk'
]
---

<Layout title="my page exercise 2">
	<h1>exercise 2</h1>
	<h2>Compras de la semana</h2>
	<RenderBuyList items={buyList} ></RenderBuyList>
</Layout>
