---
import Button from "../components/Button.jsx";
import Layout from "../layouts/Layout.astro";

const someProps = {
	count: 0,
};
---

<Layout title="my page">

	<h1>Exercise 1</h1>
	<br>
	<Button {...someProps} client:visible>
		{someProps.count}
	</Button>
	 
</Layout>
