---
export interface Props {
  items: Array<string>;
}

const { items } = Astro.props as Props;
---

<ul style={{ listStyleType: 'none', padding: 0 }}> 
  {items.map((item) => <li>{item}</li>)}
</ul>
